@charset "UTF-8";


#greeting-msg {
	text-align: center;
	font-size: medium;
	color: blue;
}

#blocked-by-admin-msg {
	text-align: center;
	font-size: large;
	color: red;
}


#locale-switch-page-msg {
	text-align: center;
	font-size: large;
	color: green;
}

#rightHeader {
	background: blue;
	color: yellow;
}

#logoutForm {
	margin: 0;
}

#localeSwitchButtonForm {
	margin: 0;
}

#goToAdminSubscribersPageForm {
	margin: 0;
}

#goToAdminServicesPageForm {
	margin: 0;
}

#goToAddSubscriberPageForm {
	margin: 0;
}

#goToAddServicePageForm {
	margin: 0;
}

#goToAddServicesPageForm {
	margin: 0;
}

#goToSubscriberHomePageForm {
	margin: 0;
}

.error {
	color:red;
}

.success {
	color: green;
}

.activity-switch-btn {
	border: 0;
	height: 1em;
	width: 1.2em;
}

.service-edit-btn {
	border: 0;
	height: 1.8em;
	width: 1.8em;
}

.service-delete-btn {
	border: 0;
	height: 1.8em;
	width: 3em;
}

#btnPdfExport {
	display: flex; 
	justify-content: center;
}
